@inject RepertoireManagementWeb.Data.AppDbContext _context
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RepertoireManagementWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RepertoireManagementWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>
    <header>
        @{
            var currentPage = Context.Request.Path.Value.ToLower();

            string userName = null;
            string imageUrl = null;

            if (User.Identity.IsAuthenticated)
            {
                var user = _context.Users.FirstOrDefault(u => u.Name == User.Identity.Name);
                if (user != null)
                {
                    userName = user.Name;
                    imageUrl = user.ImageUrl;
                }
            }
        }

        @if (User.Identity.IsAuthenticated)
        {
            if (currentPage == "/" || currentPage == "/index")
            {
                <nav class="navbar-modern">
                    <div class="navbar-left">
                        <img src="~/img/headphones.png" alt="icon" width="32" height="32" />
                    </div>

                    <div class="navbar-right">
                        @* <a asp-area="" asp-page="/Index">Home</a> *@
                        <a asp-area="" asp-page="/BandPages/Index">Band</a>
                        <a asp-area="" asp-page="/MusicPages/Index">Music</a>
                        <a asp-area="" asp-page="/RepertoirePages/Index">Repertoire</a>
                        <a asp-area="" asp-page="/RepertoireMusicPages/Index">RepertoireMusic</a>
                        @* <a asp-area="" asp-page="/Profile">Meu Perfil</a> *@

                      
                            @if (!string.IsNullOrEmpty(imageUrl))
                            {
                                <a asp-area="" asp-page="/Profile" class="profile-circle">
                                    <img src="@imageUrl" alt="Profile Picture" class="rounded-circle" width="40" height="40" />
                                </a>
                            }
                            else if (!string.IsNullOrEmpty(userName))
                            {
                                <a asp-area="" asp-page="/Profile" class="profile-circle">
                                <span>@userName.Substring(0, 1).ToUpper()</span>
                                </a>
                            }
                       
                    </div>
                </nav>
            }
            @* else
            {
                <nav class="navbar-simple">
                    <a asp-area="" asp-page="/Index" class="btn btn-outline-primary">Back</a>
                </nav>
            } *@
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RepertoireManagementWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
