@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Repertoire Management</h1>
    <p>lets the lead musician instantly sync repertoire structures and commands with the whole band for seamless, real‑time collaboration.</p>
    <a target="_blank" href="https://learn.microsoft.com/aspnet/core">You can find the project repository on GitHub.</a>
</div>
