@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center ">
    <a target="_blank" href="https://github.com/Gabriellsa7/RepertoireManagementWeb/tree/master/RepertoireManagementWeb">You can find the project repository on GitHub.</a>
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="mt-3">
            Already Have an Account? <a asp-page="/Login">Login</a>
        </p>
        <p class="mt-3">
            Don't Have an Account? <a asp-page="/UserPages/Create">Signup</a>
        </p>
    }
    else
    {
        <p class="mt-3">
            Welcome, @User.Identity.Name!
            <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
        </p>
    }
</div>
