@page "/Show/{bandId:guid}/{repertoireId:guid}"
@model ShowModel
@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

<div id="song-container">
    <h2 id="song-title">@Model.CurrentSongTitle</h2>
    <iframe id="song-iframe" src="@Model.CurrentSongPdfUrl"
            width="100%" height="600px" style="border:1px solid #ccc;"></iframe>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script>
    const bandId = "@Model.BandId";

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/showHub")
        .build();

    connection.on("ReceiveSong", (title, pdfUrl) => {
        document.getElementById("song-title").innerText = title ?? "";
        document.getElementById("song-iframe").src = pdfUrl ?? "";
    });

    connection.start()
        .then(() => connection.invoke("JoinBand", bandId))
        .catch(err => console.error(err));
</script>
