@page "{id:guid}"
@model RepertoireManagementWeb.Pages.UserPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />

            <div class="form-group custom-upload justify-content-center">
                <label class="custom-upload-label" for="profileImage">Choose Archive</label>
                <input type="file" id="profileImage" name="ProfileImage" onchange="updateFileName(this)">
                <span class="file-name" id="fileName">No Archive</span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-main" />
            </div>
        </form>
    </div>
</div>
<hr/>
<div>
    <a asp-page="/Profile" class="btn btn-main">Back</a>
</div>

@section Scripts {
    <script>
        function updateFileName(input) {
            const fileName = input.files.length > 0 ? input.files[0].name : "No Archive";
            document.getElementById("fileName").textContent = fileName;
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
